<!DOCTYPE >
<html>
  <head>
    <title>
      Admin home
    </title>
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.css" type="text/css" />
  </head>

  <body>
    <nav
      class="navbar navbar-expand-sm bg-light navbar-light justify-content-end"
    >
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" href="adminHome.html">Home/a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Manage account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="displayReport.php">View Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login.html">Logout</a>
        </li>
      </ul>
    </nav>
    <div class="container">
      <form class="form1" method="POST" action="../../model/createaccount.php">
        <input
          type="text"
          placeholder="First Name"
          class="form-control"
          name="firstname"
        />
        <input
          type="text"
          placeholder="Last Name"
          class="form-control"
          name="lastname"
        />
        <input
          type="text"
          placeholder="Email"
          class="form-control"
          name="email"
        />
        <input
          type="text"
          placeholder="Phone Number"
          class="form-control"
          name="phone"
        />
        <input
          type="text"
          placeholder="Privilage"
          class="form-control"
          name="priv"
        />
        <input type="submit" value="submit" />
      </form>
    </div>
    <div class="card-footer">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab repellat
        atque a, reiciendis officia ea accusantium dolorem nulla alias fugit
        voluptatem rerum expedita amet sequi minima! Nobis voluptatum quibusdam
        dolorem?
      </p>
    </div>
  </body>
</html>
